.loveButton{
    position:absolute;
    background-color : rgb(255, 50, 50);
    border-style : solid;
    border-color : rgb(255, 50, 50);
    color : white;
    font-size : 20px;
    border-radius: 25px;
    height : 40px;
    width : 10%;
    line-height : 40px;
    text-align: center;
    top : 60%;
    left : 40%;
    transform: translate(-50%, -50%);
    
}

.loveButton:hover{
    /* right: 450px; */
    height : 40px;
    border-width : 10px;
    transition : 1s;
}

.noButton{
    position:absolute;
    background-color : rgb(255, 50, 50);
    border-style : solid;
    border-color : rgb(255, 50, 50);
    color : white;
    font-size : 20px;
    border-radius: 25px;
    height : 40px;
    width : 10%;
    line-height : 40px;
    text-align: center;
    top : 60%;
    left : 60%;
    transform: translate(-50%, -50%);
}

.noButton:hover{
    
    height : 40px;
    border-width : 10px;
    transition : 1s;
    
}


.betrayalBox{
    
    /* background-color : rgb(255, 50, 50);
    border-style : solid;
    border-color : rgb(255, 50, 50);
    color : white;
    font-size : 50px;
    border-radius: 25px;
    height : 100px;
    width : 50%;
    line-height : 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
 
    
    
    color : black;
    font-size : 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    
}

.happyBox{
    position: absolute;
    background-color: pink;
    color : rgb(255, 255, 255);
    font-size : 30px;
    border-radius: 25px;
    height : 40px;
    width : 30%;
    line-height : 40px;
    text-align: center;
    top : 50%;
    right : 35%;
    vertical-align: middle;
    
}

.centredContainer{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 15%;
  width: 20%;
  text-align: center;
}

.miffyBox{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 35%;
  width: 25%;
  text-align: center;
}


.questionBox{
 /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  color: pink;
  background-color: red;
  border-radius: 20px;
  /* height: 15%;
  width: 20%; */
  text-align: center;
  line-height : 50px;
  font-size: 25px;
}
