.loveButton{
    position:absolute;
    background-color : rgb(255, 50, 50);
    border-style : solid;
    border-color : rgb(255, 50, 50);
    color : white;
    font-size : 20px;
    border-radius: 25px;
    height : 60px;
    width : 20%;
    line-height : 40px;
    text-align: center;
    top : 60%;
    left : 30%;
    transform: translate(-50%, -50%);
    
}

.loveButton:hover{
    /* right: 450px; */
    height : 40px;
    border-width : 10px;
    transition : 1s;
}

.noButton{
    position:absolute;
    background-color : rgb(255, 50, 50);
    border-style : solid;
    border-color : rgb(255, 50, 50);
    color : white;
    font-size : 20px;
    border-radius: 25px;
    height : 60px;
    width : 20%;
    line-height : 40px;
    text-align: center;
    top : 60%;
    left : 70%;
    transform: translate(-50%, -50%);
}

.noButton:hover{
    
    height : 40px;
    border-width : 10px;
    transition : 1s;
    
}


.betrayalBox{
    
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 50%;
    text-align: center;
    color : black;
    font-size : 80px;
    
    
}

.happyBox{
    position: absolute;
    background-color: pink;
    color : rgb(255, 255, 255);
    font-size : 50px;
    border-radius: 25px;
    height : 30%;
    width : 30%;
    line-height : 40px;
    text-align: center;
    top : 50%;
    right : 35%;
    vertical-align: middle;
    
}

.centredContainer{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 40%;
  width: 40%;
  text-align: center;
}

.miffyBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  height: 60%;
  width: 45%;
  text-align: center;
}


.questionBox{
 /* position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  color: pink;
  background-color: red;
  border-radius: 20px;
  /* height: 15%;
  width: 20%; */
  text-align: center;
  line-height : 50px;
  font-size: 40px;
}


.coverdiv{
    position:absolute;
    height:100%;
    width:100%;
    top:0%;
    left:0%;
    background-color: red;
    transition-duration: 3s;
    opacity: 0%;
    
}

